@font-face {
    src: url(../fonts/BebasNeueThin.ttf);
    font-family: "Bebas Neue Thin";
}
@font-face {
    src: url(../fonts/BebasNeueRegular.ttf);
    font-family: "Bebas Neue Regular";
}
@font-face {
    src: url(../fonts/BebasNeueBold.ttf);
    font-family: "Bebas Neue Bold";
}